.btn-twitter{
  background: : #00acee;
  border-color:#009ad5;
}

.btn-facebook{
  background: : #4868ac;
  border-color:#314776;
}

.btn-pinterest{
  background: : #b62f26;
  border-color:#b62f26;
}

.jumbotron{
  background-image: url("../images/fruit-and-veg.jpg");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  color: white;
}
